

<div ng-controller="AboutCtrl">
    <form novalidate name="congesForm" class="css-form form-inline well" ng-submit="submit()">
      <img src="images/parasol.ico" alt="Congés" class="icon25">
      <H4>Demande de congés</H4>
        <fieldset>

         <div class="row">
          <label for="sel" class="col-lg-3 control-label text">Type de congés :</label>
          <div class="col-lg-3">
            <select ng-model="conges.type" id="sel" ng-options="type.name for type in types" class="form-control" ng-change="actualiseTypeConges()"></select>
          </div>
           <label for="conges.motif" class="col-lg-2 text right"> Motif : </label>
           <input type="text" name="motif" id="conges.motif" ng-model="conges.motif" class="col-lg-4 form-control" ng-minlength="3" ng-maxlength="8" required>
            <div ng-messages="congesForm.motif.$error">
             <p ng-message="minlength">Your name is too short.</p>
             <p ng-message="maxlength">Your name is too long.</p>
             <p ng-message="required">Your name is required.</p>
           </div>
         </div>


        <div class="row">
          <label for="datedebut" class="col-lg-4 control-label text"> Date de début des congés incluse : </label>
          <div class="col-lg-4">
            <div class="form-group">
              <input type="text" id="datedebut" name="datedebut" class="form-control" ng-model="conges.dateDebut"  ng-change="actualiseTypeConges();differenceJours(conges.dateDebut,conges.dateFin)" />
            </div>
          </div>
          <div class="col-lg-4">
            <div class="checkbox">
              <label for="matin1" class="control-label">
                <input type="checkbox" name="checkboxDebut" id="matin1" ng-model="conges.check1Matin" ng-init="conges.check1Matin=false" ng-change="onCheckBoxMatinChange();differenceJours(conges.dateDebut,conges.dateFin);actualiseTypeConges()">
                matin
              </label>
            </div>
            <div class="checkbox">
              <label for="aprem" class="checkbox">
                <input type="checkbox" name="checkboxDebut" id="aprem" ng-model="conges.check1Aprem" ng-init="conges.check1Aprem=false" ng-change="onCheckBoxApremChange();differenceJours(conges.dateDebut,conges.dateFin);actualiseTypeConges()">
                après midi
              </label>
            </div>
          </div>
        </div>

      <div class="row">
        <label for="dateFin" class="col-lg-4 control-label text"> Date de fin des congés incluse : </label>
        <div class="col-lg-4">
          <div class="form-group">
            <input type="text" id="dateFin" name="dateFin" class="form-control"  ng-model="conges.dateFin" date-after="conges.dateDebut" ng-change="differenceJours(conges.dateDebut,conges.dateFin);actualiseTypeConges()" />
        </div>
          </div>
        <div class="col-lg-4">
          <div class="checkbox">
            <label for="matin2" class="control-label">
              <input type="checkbox" name="checkboxFin" id="matin2" ng-model="conges.check2Matin" ng-init="conges.check2Matin=false" ng-change="differenceJours(conges.dateDebut,conges.dateFin);actualiseTypeConges()">
              matin
            </label>
          </div>
        </div>
      </div>

<br>

          <label> Nombre de jours de congés : </label><span>{{nbJoursDemandes}}</span></span><br />  {{ nbJoursCongesRestant }} {{nbJoursDemandes}} {{ conges.dateDebut }}

         <input class="btn btn-primary form-control" type="button" ng-click="" value="Reset"/>
         <input class="btn btn-primary form-control" type="submit" ng-click="update(conges)" value="Save"/>
         <input class="btn btn-primary form-control" type="submit" id="submit" value="Submit" />


        </fieldset>
    </form>


  <pre>form = {{conges | json}}</pre>
  <pre>master = {{master | json}}</pre>
  <table class="table table-bordered table-striped table-condensed">
    <caption>
      <h4>Mon Solde</h4>
    </caption>
    <thead>
    <tr>
      <th>Type de congés</th>
      <th></th>
      <th>Solde</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>congés payés</td>
      <td></td>
      <td>{{ nbJoursCongesRestant }}</td>
    </tr>
    <tr>
      <td>RTT</td>
      <td></td>
      <td>{{ nbJoursRttRestant }}</td>
    </tr>
    </tbody>
  </table>
</div>
