<div class="jumbotron" ng-controller="MainCtrl">
  <h3>Bienvenue sur votre extranet</h3>
  <div>
    <!--<img id="proxiad_logo" src="images/proxiad_logo.jpg"  alt="I'm a Proxiad collaborator" ><br>-->
    <img id="proxiad_logo2" src="images/proxiad_logo2.png"  alt="I'm a Proxiad collaborator" ><br>
    Always a pleasure working on informatique projects.
  </div>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">

</div>
